@use '../../_styles/globalMixins.scss' as GMixin;

.row {
    display: flex;
    align-items: center;
    padding: 4px;
    margin-top: 4px;
    border-radius: var(--border-radius);
    cursor: pointer;

    .rowImage {
        width: 60px;
        height: 60px;
    }

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: var(--border-radius-circled);
    }

    .name {
        color: var(--text-color);
        padding-left: 10px;
        @include GMixin.textOverflow;
    }

    &:hover {
        background-color: var(--artist-card-bg);
    }
}