$fontSizeMedium: 14;
$fontSizeSmall: 12;
$fontSizeBig: 16;
$fontSizeExtraBig: 20;

$lineHeightSmall: 14;
$lineHeightMedium: 16;
$lineHeightBig: 18;

$fontWeightMedium: 500;
$fontWeightRegular: 400;
$fontWeightBold: 600;
$fontWeightExtraBold: 700;