$ZIndexAddition: 3;
$modalZIndex: 1500;
$songPlayerZIndex: 5;
$sideMenuZIndex: 7;
$sidebarZIndex: 5;
$fixedHeaderZIndex: 3;
$songActionsZIndex: 1999;
$languageModalZIndex: 99;
$infoMenuZIndex: 1600;
$bottomSheetZIndex: 99;