$tvDesktop: 1700px;
$bigDesktop: 1680px;
$desktop: 1280px;
$midDesktop: 1090px;
$minDesktop: 1024px;
// $bigTable: 
$tablet: 768px;
$minTablet: 652px;
$mobile: 600px;
$minMobile: 570px;

//bootstrap breakpoints
$xs: 473px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;


$sidebarWidth: 244px;
$sidebarFoldedWidth: 55px;
$sidebarResponsiveHeight: 65px;
$audioPlayerInitialHeight: 105px;
$audioPlayerResponsiveHeight: 90px;
$playerPlusBottombarHeight: 155px;
