@use '../../../_styles/globalTypography.scss' as *;
@use '../../../_styles/globalFunctions.scss' as *;
@use '../../../_styles/globalBreakPoints.scss' as *;

.videoModal {
    user-select: none;
    position: relative;
    z-index: 2;
    background: var(--main-bg);
    transition: 0.5s ease-in-out;
}

.darkEffect{
    filter: brightness(70%);
}

.header {
    position: absolute;
    top: 40px;
    left: 40px; 
    opacity: 1;
    transition: opacity 0.5s;
    .title, .author {
        font-size: 40px;
        font-weight: calc($fontWeightMedium + 100);
        line-height:  120%;

        @media screen and (max-width: $desktop) {
            font-size: calc($fontSizeBig + 8) + px;
        }
    }
    .title {
        color: var(--text-color);
    }
    .author {
        color: var(--text-second-color);
    }
}

.video {
    width: 100%;
    height: 100%;
}

.center_controls {
    opacity: 1;
    transition: opacity 0.5s;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;

    @media screen and (max-width: $desktop) {
       img:nth-child(1), img:nth-child(3){
            width: 24px;
            height: 24px;
       }
       img:nth-child(2){
            width:40px;
            height: 40px;
       }
       gap: 50px;
    }
}

.rewind, .playPause, .fullScreen, .volume_icon {
    cursor: pointer;
}

.bottom_controls {
    background-color: var(--video-controls-bg);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border-radius: 31px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 35px;
    opacity: 1;
    transition: opacity 0.5s;
    position: fixed;
    bottom: 20px;
    width: calc(100% - 80px);
    margin-left: 40px;

    @media screen and (max-width: $desktop) {
        .playPause {
            width: 16px;
            height: 16px;
        }
    }

    @media screen and (max-width: $mobile) {
        padding: 7px 15px;
        width: 100%;
        margin-left: 0;
    }
}

.progress_container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 7.85px;

    p {
        color: var(--text-color);
        font-size: calc($fontSizeBig + 6) + px;
        font-weight: $fontWeightRegular;
        line-height: normal;

        @media screen and (max-width: $mobile) {
            font-size: 4.739px;
        }
    }

    .range {
        -webkit-appearance: none;
        cursor: pointer;
        width: 834px;
        z-index: 10px;

        @media screen and (max-width: $bigDesktop) {
            width: 400px;
        }
        @media screen and (max-width: $minDesktop) {
            width: 168px;
        }
    }
    //for chrome/firefox
    .range::-webkit-slider-runnable-track {
        background-color:rgba(255, 255, 255, 0.50);
        height: 9px;
        border-radius: 23.551px;
        margin-top: -10px;
        @media screen and (max-width: $minDesktop) {
            height: 5px;
        }

    }
    .range::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 23px;
        height: 23px;
        border-radius: 99px;
        background-color:#FFF;
        margin-top: -7px;
        position:relative;
        z-index: 2;
        @media screen and (max-width: $minDesktop) {
            height: 15px;
            width: 15px;
            margin-top: -5px
        }
      }
      .range:active::-webkit-slider-thumb {
        transform: scale(1.2);
      }
    //for mozilla
    .range::-moz-slider-runnable-track {
        background-color:rgba(255, 255, 255, 0.50);
        height: 9px;
        border-radius: 23.551px;
        margin-top: -10px;
        @media screen and (max-width: $minDesktop) {
            height: 5px;
        }
    }
    .range::-moz-slider-thumb {
        -webkit-appearance: none;
        width: 23px;
        height: 23px;
        border-radius: 99px;
        background-color:#FFF;
        margin-top: -7px;
        @media screen and (max-width: $minDesktop) {
            height: 15px;
            width: 15px;
            margin-top: -5px
        }
      }
      .range:active::-moz-slider-thumb {
        transform: scale(1.2);
      }

      .progress {
        position: relative;

        .progressPlayed, .progressBuffered {
            position: absolute;
            top: 5.5px;
            left: 10px;
            width: 834px;
            height: 9px;
            -webkit-appearance: none;
            @media screen and (max-width: $bigDesktop) {
                width: 400px;
            }
            @media screen and (max-width: $minDesktop) {
                width: 168px;
                height: 5px;
                top: 7.5px;
            }
        }
        //for chrome/firefox
        .progressPlayed::-webkit-progress-bar  {
            border-radius: 23.551px;
            background-color: transparent;
            position: relative;
            z-index: 1;
        }
        .progressBuffered::-webkit-progress-bar {
            border-radius: 23.551px;
            background-color: transparent;
            position: relative;
            z-index: 0;
        }
        .progressPlayed::-webkit-progress-value  {
            border-top-left-radius: 23.551px;
            border-bottom-left-radius: 23.551px;
            background-color: #FFF;
        }
        
        .progressBuffered::-webkit-progress-value {
            background-color: #6b6b6b;
            border-radius: 23.551px;
        }
            //for mozilla
        .progressPlayed::-moz-progress-bar {
            border-radius: 23.551px;
            background-color: transparent;
            position: relative;
            z-index: 1;
        }
        .progressBuffered::-moz-progress-bar{
            border-radius: 23.551px;
            background-color: transparent;
            position: relative;
            z-index: 0;
        }
        .progressPlayed::-moz-progress-value  {
            border-top-left-radius: 23.551px;
            border-bottom-left-radius: 23.551px;
            background-color: #FFF;
        }
        
        .progressBuffered::-moz-progress-value {
            background-color: #6b6b6b;
            border-radius: 23.551px;
        }
      }
}


.theRight_side {
    display: flex;
    gap: 58px;

     
    @media screen and (max-width: $desktop) {
        gap: 11px;

        .volume_icon, .fullScreen{
            width: 21px;
            height: 21px;
        }
    }
    


    .volume{
        display: flex;
        align-items: center;
        flex-direction: column;
        position: relative;

        .volume_controls {
            display: inline-flex;
            transform: rotate(-90deg);
            padding: 4px;
            justify-content: center;
            align-items: center;
            gap: 10px;
            border-radius: 99px;
            background: rgba(0, 0, 0, 0.30);
            backdrop-filter: blur(35px);
            position: absolute;
            top: -122px;
            transition: opacity 0.2s;
            opacity: 0;

            .mute, .unmute {
                transform: rotate(90deg);
            }

            .volume_range {
                --volume-progress: 0;
                --volume-bg: #FFFFFF;
                -webkit-appearance: none;
                width: 119px;
                cursor: pointer;
                position: relative;

                &:hover::-webkit-slider-thumb {
                    opacity: 1;
                }
                &:hover::-moz-range-thumb {
                    opacity: 1;
                }
            }

            // CHROME/SAFARI
            .volume_range::-webkit-slider-runnable-track {
                background: rgba(179, 179, 179, 0.12);
                border-radius: 99px;
                height: 3px;
                margin-top: -11px;
            }
            .volume_range::-webkit-slider-thumb {
                -webkit-appearance: none;
                position:relative;
                width: 10px;
                height: 10px;
                border-radius: 99px;
                background-color:rgba(18, 18, 18, 1);
                margin-top: -3.4px;
                border: 2px solid var(--volume-bg);
                opacity: 0;
                transition: opacity 0.2s;
            }
            //MOZILLA
            .volume_range::-moz-range-runnable-track {
                background: rgba(179, 179, 179, 0.12);
                border-radius: 99px;
                height: 3px;
                margin-top: -11px;
            }
            .volume_range::-moz-range-thumb  {
                -webkit-appearance: none;
                position:relative;
                width: 10px;
                height: 10px;
                border-radius: 99px;
                background-color:rgba(18, 18, 18, 1);
                margin-top: -3.4px;
                border: 2px solid var(--volume-bg);
                opacity: 0;
                transition: opacity 0.2s;
            }

            .volume_range::before {
                content: '';
                height: 3px;
                background: var(--volume-bg);
                width: var(--volume-progress);
                border-radius: 18px;
                position: absolute;
                top: -7px;
                left: 0;
              }

        }

        .showVolumeSetter {
            opacity: 1;
        }
            
    }
}


.hide {
    opacity: 0;
    pointer-events: none;
}