@use '../../../_styles/globalTypography.scss' as *;
@use '../../../_styles/globalBreakPoints.scss' as *;
@use '../../../_styles/globalFunctions.scss' as *;
@use '../../../_styles/globalShapes.scss' as GShapes;
@use '../../../_styles/globalMixins.scss' as GMixin;

.songList{
    padding: 10px 20px;
}

.section {
    display: none;
}
.show {
    display: block;
    margin-top: 20px;
    animation: animateFn 1s linear;
}

.header {
    --opacity: 0;
    height: 80px;
    width: calc(100% - 244px);
    padding: 10px 20px;
    position: fixed;
    top: 0;
    z-index: GShapes.$fixedHeaderZIndex;
    display: flex;
    align-items: center;

    .opts {
        display: flex;
        align-items: center;
        gap: 20px;
    }

    .actions, .topPlay {
        display: none;
    }

    .showPlayTop{
        display: block;
    }

    @media screen and (max-width: $md) {
        width: 100%;
        display: flex;
        justify-content: space-between;
        .actions {
            display: flex;
            align-items: center;
            gap: 10px;
        }
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #17171780;
        z-index: -1;
        opacity: var(--opacity);
    }
    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -2;
        background: linear-gradient(0deg, #DB6795 0%, #B13A6A 100%);
        opacity: var(--opacity);
    }
}

.presentation {
    height: 350px;
    width: calc(100%);
    position: relative;
    @media screen and (max-width: $md) {
        display: none;
    }
}
.presentation_mobile {
    height: 100%;
    width: 100%;
    position: relative;

    @media screen and (min-width: $md) {
        display: none;
    }
}

.wrapper, .mobile_presentation_wrapper {
    display: flex;
    height: 100%;
    padding: 60px 20px;
    flex-direction: column;
    z-index: 2;
    position: relative;
}

.mobile_presentation_wrapper {
    align-items: center;
    padding: 60px 20px 20px;

    .the_bottom_content{
        color: var(--text-color);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

        .top {
            text-align: center;

            .name {
                font-weight: calc($fontWeightMedium + 100);
                font-size: calc($fontSizeBig + 6) + px;
                line-height: calc($lineHeightBig + 8) + px;
                margin-bottom: 4px;
                @include GMixin.textOverflow;
            }
            .title {
                font-weight: $fontWeightRegular;
                font-size: $fontSizeMedium + px;
                line-height: $lineHeightMedium + px;
                color: rgba(193, 193, 193, 1);
            }
        }

        .bottom {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
        }
    }
}

.content_box {
    display: flex;
    padding: 16px 0;
    gap: 20px;
    align-items: center;

    .title {
        font-weight: $fontWeightRegular;
        font-size: calc($fontSizeBig + 6) + px;
        line-height: calc($lineHeightBig + 8) + px;
        color: rgba(193, 193, 193, 1);
        margin-bottom: 5px;
    }

    .name {
        font-weight: $fontWeightBold;
        font-size: 80px;
        line-height: 96px;
        color: var(--text-color);
        @include GMixin.textOverflow;
        @media screen and (max-width: $lg){
            font-size: 40px;
        }
    }

    img {
        height: 168px;
        width: 168px;
        object-fit: cover;
        border-radius: var(--border-radius-circled);
    }
}

.actions {
    display: flex;
    align-items: center;
    gap: 30px;
}
.followBtn {
    width: 100%;
    max-width: 140px;
    height: 40px;
}

.background_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        z-index: 1;
        backdrop-filter: blur(50px);
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 17.76%, #090909 100%);
        z-index: 2;
    }
}
.background_gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 17.76%, #090909 100%);
}

.grid_wrapper {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 15px;
    padding: 0 20px;

    @media screen and (max-width: $md){
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (max-width:$sm) {
        grid-template-columns: repeat(1, 1fr);
    }
}