@use '../../../_styles/globalBreakPoints.scss' as *;
@use '../../../_styles/globalTypography.scss' as *;
@use '../../../_styles/globalMixins.scss' as GMixin;

.topHeader {
    display: flex;
    gap: 15px;
    .opts {
        display: flex;
        align-items: center;
        gap: 20px;
    }
}
.videoPlayer {
    width: 580px;
    height: 330px;
    @media screen and (max-width: $md) {
        width: 100%;
    }
}

.presentation {
    height: 490px;
    width: calc(100%);
    position: relative;
    video {
        border-radius: 4px;
    }
    @media screen and (max-width: $md) {
        height: 100%;
        width: 100%;
    }
}

.background_gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 17.76%, #090909 100%);
}
.background_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        z-index: 1;
        backdrop-filter: blur(50px);
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 17.76%, #090909 100%);
        z-index: 2;
    }
}

.wrapper {
    display: flex;
    height: 100%;
    padding: 60px 20px;
    flex-direction: column;
    z-index: 2;
    position: relative;

    @media screen and (max-width: $md) {
        padding: 60px 20px 20px;
    }
}

.content_box {
    display: flex;
    flex-direction: column;
    padding: 16px 0;
    gap: 20px;

    .head {
        font-size: $fontSizeExtraBig + px;
        line-height: 24px;
        color: var(--text-fourth-color);
        margin-bottom: 5px;
    }

    .title {
        font-weight: $fontWeightExtraBold;
        font-size: 26px;
        line-height: 31.2px;
        color: var(--text-color);
    }
}