@use '../_styles/globalBreakPoints.scss' as *;
@use '../_styles/globalBreakPoints.scss' as *;

.layoutContent {
    width: 100%;
    min-height: 100vh;

    .layoutChildren {
        margin-left: 244px;
        @media screen and (max-width: $md) {
            margin-left: 0;
        }
    }

    @media screen and (max-width: $md) {
        min-height: calc(100vh - $sidebarResponsiveHeight);
        margin-bottom: $sidebarResponsiveHeight;
    }
}
.marginBottom {
    min-height: calc(100vh - $audioPlayerInitialHeight);
    margin-bottom: $audioPlayerInitialHeight;
    @media screen and (max-width: $md) {
        min-height: calc(100vh - $playerPlusBottombarHeight);
        margin-bottom: $playerPlusBottombarHeight;
    }
}