@use '../../../../_styles/globalBreakPoints.scss' as *;
@use '../../../../_styles/globalTypography.scss' as *;
@use '../../../../_styles/globalMixins.scss' as GMixin;

.presentation, .presentation_mobile {
    margin-top: -80px;
}

.presentation {
    height: 350px;
    width: calc(100%);
    position: relative;
    @media screen and (max-width: $md) {
        display: none;
    }
}
.presentation_mobile {
    height: 100%;
    width: 100%;
    position: relative;

    @media screen and (min-width: $md) {
        display: none;
    }
}
.wrapper, .mobile_presentation_wrapper {
    display: flex;
    height: 100%;
    padding: 60px 20px;
    flex-direction: column;
    z-index: 2;
    position: relative;
}
.background_gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 17.76%, #090909 100%);
}
.background_image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, .5);
        z-index: 1;
        backdrop-filter: blur(50px);
    }

    &:after {
        content: "";
        display: block;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: linear-gradient(180deg, rgba(0, 0, 0, 0) 17.76%, #090909 100%);
        z-index: 2;
    }
}
.content_box {
    display: flex;
    padding: 16px 0;
    gap: 20px;
    align-items: center;


    .content {
        width: 0;
        flex: 1 1;
    }

    .title {
        font-weight: $fontWeightExtraBold;
        font-size: 50px;
        line-height: 60px;
        margin-bottom: 5px;
        color: var(--text-color);
        @include GMixin.textOverflow($line: 2);
    }

    .news {
        color: var(--text-fourth-color);
        font-size: 22px;
        line-height:26.4px;
    }

    .date {
        color: rgba(78, 78, 78, 1);
        font-size: $fontSizeExtraBig + px;
        line-height: 21.6px;
    }

    img {
        height: 170px;
        width: 300px;
        object-fit: cover;
        border-radius: var(--border-radius-sm);
    }

    @media screen and (max-width: $tablet) {
        flex-direction: column;
        justify-content: center;
        
        .content {
            width: fit-content;
        }

        .news, .date {
            font-size: $fontSizeMedium + px;
            line-height: 16.8px;
        }
        .title {
            font-size: 22px;
            line-height: 26.4px;   
        }
    }
}

.mainBody {
    padding: 0 20px;
    .description {
        color: #cfcfcf;
        font-size: $fontSizeExtraBig + px;
        line-height: 24px;
        font-weight: $fontWeightMedium;
        margin-bottom: 14px;
    }

    .author {
        color: var(--text-color);
        font-size: $fontSizeExtraBig + px;
        line-height: 24px;
        font-weight: $fontWeightExtraBold;
    }
}